<ion-header>
  <ion-toolbar>
    <ion-title>Informacion</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons routerLink="/inicio" slot="end">
      <ion-button color="primary">
       <ion-icon name="storefront-outline"></ion-icon>
      </ion-button>
     </ion-buttons>
  


  </ion-toolbar>
</ion-header>

<ion-content>
<p>La Universidad Metropolitana de Honduras entrega a sus estudiantes las herramientas necesarias para que sean ellos los que descubran sus talentos y sus habilidades y puedan así determinar sus fortalezas y capacidades para emprender proyectos profesionales.</p>
</ion-content>
