<ion-content>

      

  <ion-slides pager="true">
    <ion-slide class="slide-1">
      <h1>Slide 1</h1>
      <ion-buttons slot="start">

        <ion-back-button defaultHref="/" text="Volver" color="warning" mode="ios">
  
        </ion-back-button>
  
  
      </ion-buttons>
  
    </ion-slide>


    <ion-slide class="slide-2">
      <h1>Slide 2</h1>
      <ion-buttons slot="start">

        <ion-back-button defaultHref="/" text="Volver" color="secondary" mode="ios">
  
        </ion-back-button>
  
  
      </ion-buttons>
  
    </ion-slide>

    <ion-slide class="slide-3">
      <h1></h1>
      <ion-buttons slot="start">

        <ion-back-button defaultHref="/" text="Volver" color="primary" mode="ios">
  
        </ion-back-button>
  
  
      </ion-buttons>
  
    </ion-slide>
  </ion-slides>





</ion-content>
