<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button defaultHref="/" text="Volver" color="primary" mode="ios">

      </ion-back-button>

    </ion-buttons>

    <ion-title>Descripcion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<ion-card-content>
        <ion-card-title>
         Descripcion del Proyecto
        </ion-card-title>
        <p>Nuestra aplicacion es de tipo informativo y esta enfocada en la Universidad Metropolitana de Honduras</p>
      </ion-card-content>
    </ion-card>
  <ion-card>
<ion-card-content>
        <ion-card-title>
         Descripcion de los integrantes
        </ion-card-title>
        <p>Mercedes Victoria Alfaro: Estudiante de la carrera de ingeniería informática (Segundo año)</p>
  <p>Edison Augusto Salgado:  Estudiante de la carrera de ingeniería informática (Segundo año)</p>
  <p>Juan Francisco Vasquez:  Estudiante de la carrera de ingeniería informática </p>
      </ion-card-content>
    </ion-card>
</ion-content>
