<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button defaultHref="/" text="Volver" color="secondary" mode="ios">

      </ion-back-button>


    </ion-buttons>






    <ion-title>tabla_trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<table>
      <tr>
        <th>Integrante</th>
        <th>Asignacion realizada</th>
        <th>Horas trabajadas</th>
      </tr>
      <tr>
        <td>Edison</td>
        <td>Juan</td>
        <td>Mercedes</td>
      </tr>
      <tr>
        <td>La base del proyecto, instalacion de ionic, pagina de inicio, botones, iconos, redireccionamiento</td>
        <td>Carrusel, botón de retorno</td>
        <td>Descripción, contactos, Tabla de trabajo</td>
      </tr>
      <tr>
        <td>10 horas</td>
        <td>5 horas</td>
        <td>5 horas</td>
      </tr>
    </table>
</ion-content>
