<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button defaultHref="/" text="Volver" color="warning" mode="ios">

      </ion-back-button>
    </ion-buttons>


    <ion-title>Contactos</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center">

    <div class="ion-padding">


      <!-- List of Text Items -->
<!--<ion-list>
  <ion-item>
    <ion-label>Edison Augusto Salgado 202100446@umh.edu.hn</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Maribel Adaleth Melgar 202100731@umh.edu.hn</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Juan Francisco Vasquez 202000833@umh.edu.hn</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Victoria Alfaro 202100739@umh.edu.hn</ion-label>
  </ion-item>
  
</ion-list>-->
 <div class="ion-padding">
  <h2>Contact us</h2>
  <!--Edison-->
  <p>-Edison Augusto Salgado</p>
  <p style="color:rgb(9, 153, 153)">Email: 202100446@umh.edu.hn</p><br>
  <!--Juan-->
  <p>-Juan Francisco Vasques</p>  
  <p style="color:rgb(9, 153, 153)">Email:202000833@umh.edu.hn</p><br>
  <!--Maribel-->
   <p>-Maribel Adaleth Melgar </p>
   <p style="color:rgb(9, 153, 153)">Email: 202100731@umh.edu.hn</p>
   <br>
    <!--Mercedes-->
   <p>-Mercedes Victoria Alfaro </p>
   <p style="color:rgb(9, 153, 153)">Email: 202100739@umh.edu.hn</p>
   
   
  </div>

</div>
</ion-content>
