<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button defaultHref="/" text="Volver" color="warning" mode="ios">

      </ion-back-button>


    </ion-buttons>

                  





    <ion-title>contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


      <!-- List of Text Items -->
<!--<ion-list>
  <ion-item>
    <ion-label>Edison Augusto Salgado 202100446@umh.edu.hn</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Maribel Adaleth Melgar 202100731@umh.edu.hn</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Juan Francisco Vasquez 202000833@umh.edu.hn</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Victoria Alfaro 202100739@umh.edu.hn</ion-label>
  </ion-item>
  
</ion-list>-->



</ion-content>
