<ion-header>
  <ion-toolbar>
    <ion-title>Redes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons routerLink="/inicio" slot="end">
      <ion-button color="primary">
       <ion-icon name="storefront-outline"></ion-icon>
      </ion-button>
     </ion-buttons>



  </ion-toolbar>
</ion-header>

<ion-content>
<h1>NUESTRA DIRECCIÓN<br>
  CAMPUS TEGUCIGALPA:
  Plaza COLPROSUMAH, Cruce del Blvd. Centro América y Suyapa, Contiguo a casa presidencial, lado posterior.<br>
  
  
  Teléfono: PBX. (504) 2280-1111/ Ext.110
  Celular: 3207-6170 /<br> 3188-2654 (Whatsapp)<br>
  
  
  Correo: prospeccion@unimetro.edu.hn</h1> 
</ion-content>
